{% extends "users/base.html" %}
{% block body %}
<style>
   
</style>
<h2 class="text-2xl m-5 font-bold"> <i class="fa fa-camera-retro" aria-hidden="true"></i>  Create a Post </h2>
<div class="container py-2 mx-5">
    <div class="error-container text-danger px-5">
        {% if form.errors %}
        {% for field in form %}
          {{ field.errors }}
        {% endfor %}
          
        {% endif %}
    </div>
    
<form action="" method="post" class="shadow bg-white m-4 p-4 rounded" style="width:80%" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="title">Add Titile</label>
        <div class="shadow py-3 px-3 me-5  bg-body rounded text-dark">
            {{ form.title }}
        </div>
    </div>

    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="image">Upload Image</label>
        <div class="shadow py-3 px-3 me-5  bg-body rounded text-dark">
            {{ form.image }}
        </div>
    </div>
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="caption">Add Caption</label>
        <div class="shadow py-3 px-3 me-5  bg-body rounded text-dark">
            {{ form.caption }}
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-2"> Submit</button>
    

</form>
</div>

{% endblock %}