{% extends "food/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>

</head>
<body>
    {% block body %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">

                <img src="{{ object.item_image}}" alt="" sizes="food image" height="250px" class="card">

            </div>
            <div class="col-md-6">

                <h1> Name : {{ object.item_name }}</h1>
                <h1> Desciption : {{ object.item_desc }}</h1>
                <h1> Price : ${{ object.item_price }}</h1>
                <h1> Created By : {{ object.user_name }}</h1>
                <a href="{% url 'food:delete_item' object.id %}" class="btn btn-danger"> Delete</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>