{% extends "myapp/base.html" %}
{% block body %}
<form method="POST" class="shadow-lg m-3">
    {% csrf_token %}
    <div class="px-5 py-5 d-flex">
        <div class="mx-4">
            <div class="mb-2">
                <label for="fw-bold">Expense Name</label>
            </div>
            <div class="border p-1">
                {{ expense_form.name}}
            </div>
        </div>

        <div class="mx-4">
            <div class="mb-2">
                <label for="fw-bold">Expense Amount</label>
            </div>
            <div class="border p-1">
                {{ expense_form.amount}}
            </div>
        </div>

        <div class="mx-4">
            <div class="mb-2">
                <label for="fw-bold">Expense Category</label>
            </div>
            <div class="border p-1">
                {{ expense_form.category }}
            </div>
        </div>
        <div class="mx-4 my-4">
        <button type="submit" class="btn btn-success">Edit Data</button>
        </div>
    </div>

</form>
{% endblock %}