{% extends "users/base.html" %}
{% block body %}
<h2 class="text-2xl m-5 font-bold"> <i class="fa fa-user" aria-hidden="true"></i>  Edit User Profile </h2>
<div class="container py-2 mx-5">

<f<form action="" method="post" class="shadow bg-white m-4 p-4 rounded" style="width:80%" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="first_name">First Name</label>
        <div class="shadow py-2 px-3 me-5  bg-body rounded text-dark">
            {{ user_form.first_name }}
        </div>
    </div>

    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="last_name">Last Name</label>
        <div class="shadow py-2 px-3 me-5  bg-body rounded text-dark">
            {{ user_form.last_name }}
        </div>
    </div>
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="email">Email</label>
        <div class="shadow py-2 px-3 me-5  bg-body rounded text-dark">
            {{ user_form.email }}
        </div>
    </div>
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="first_name">Photo</label>
        <div class="shadow py-2 px-3 me-5  bg-body rounded text-dark">
            {{ profile_form.photo }}
        </div>
    </div>
    <button type="submit" class="btn btn-success "> Submit</button>
    

</form>
</div>

{% endblock %}