{% extends "users/base.html" %}
{% block body %}
<style>
   
</style>
<h2 class="text-2xl m-5 font-bold"> <i class="fa fa-key" aria-hidden="true"></i>  Change Password </h2>
<div class="container py-2 mx-5">
    <div class="error-container text-danger px-5">
        {% if form.errors %}
        {% for field in form %}
          {{ field.errors }}
        {% endfor %}
          
        {% endif %}
    </div>
    
    <form action="" method="post" class="shadow bg-white m-4 p-4 rounded" style="width:80%" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="first_name">Old Password</label>
        <div class="shadow py-3 px-3 me-5  bg-body rounded text-dark">
            {{ form.old_password }}
        </div>
    </div>

    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="new_password">New Passord</label>
        <div class="shadow py-3 px-3 me-5  bg-body rounded text-dark">
            {{ form.new_password1 }}
        </div>
    </div>
    <div class="mb-2 ">
        <label class="text-dark text-sm mb-2" for="confirm_password">Confirm Password</label>
        <div class="shadow py-3 px-3 me-5  bg-body rounded text-dark">
            {{ form.new_password2 }}
        </div>
    </div>
    <button type="submit" class="btn btn-success "> Submit</button>
    

</form>
</div>

{% endblock %}