{% extends "chatapp/base.html" %}

{% block title %}
<title>Chat | ChatApp</title>
{% endblock %}

<!-- body block -->
{% block body %}
<h3 class="m-4">
    {{ chatroom.name }}

</h3>
<div class="message-container m-4 overflow-auto" style="height: 500px;" id="message-container">
    <div id="chat-messages">
        {% for message in messages %}
        <div class="message shadow-lg p-1 m-4 rounded"
            style="background-color:rgb(117, 117, 243); color: white; width: 50%;">
            <div class="text-secoundry">
                {{ message.user.username }}
            </div>
            <div class="text-dark">
                {{ message.message_content }}
            </div>
            <div class="text-secoundry">
                {{ message.date }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid position-fixed bottom-0 start-0 p-2" style="background: rgb(5, 5, 39);">
    <form action="" method="post" class="ms-4 d-flex" style="width: 50%;">

        <input class="form-control rounded px-2" type="text" name="message" id="message-input"
            placeholder="Enter message">
        <button type="submit" id="send-button" class="btn btn-success">Send</button>
    </form>

</div>

{{ chatroom.slug |json_script:"json-chatroomname" }}

{{ request.user.username |json_script:"json-username" }}
<script>
    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)
    const username = JSON.parse(document.getElementById('json-username').textContent)

    // console.log(chatRoomName)
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + chatRoomName
        + "/"
    )
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data)
        if (data.message) {
            console.log("recived messsage to clinet", data.message)
            let html = '<div class="message shadow-lg p-1 m-4 rounded" style="background-color:rgb(117, 117, 243); color: white; width: 50%;">' +
                '<div class="text-secoundry">' + data.username + ' </div> ' +
                '<div class="text-dark">' + data.message + "</div>" +
                '<div class="text-secoundry">Now </div></div>'

            document.getElementById('chat-messages').innerHTML += html
                scroll()
        } else {
            alert("the message was empty")
        }
    }
    chatSocket.onclose = function (e) {
        console.log("close connection")
    }
    document.getElementById('send-button').onclick = function (e) {
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        const message = messageInput.value
        console.log(message)
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username,
            'room': chatRoomName,
        }))
        messageInput.value = ""


    }

    function scroll(){
        const mcontainer = document.getElementById("message-container")
        mcontainer.scrollTo = mcontainer.scrollHeight
    }
    scroll()
</script>

{% endblock %}